In [1]:
import yfinance as yf

# Define ticker symbol and date range
ticker = "AAPL"
start_date = "2024-10-24"
end_date = "2025-10-23"

# Download the data
aapl = yf.download(ticker, start=start_date, end=end_date)

# Display the first few rows
aapl.head()

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-10-24  229.279633  229.528233  227.131717  228.692923  31109500
2024-10-25  230.114944  231.914813  228.285245  228.454292  38802300
2024-10-28  232.093781  233.416339  231.248547  232.014242  36087100
2024-10-29  232.362289  233.018599  231.019854  231.795487  35417200
2024-10-30  228.812271  232.163406  228.265346  231.308219  47070900